.displayMovies{
 
    color: #fff;
      background-color: #3e6282;


    
}


.displayHeader{
    /* font-size: 2rem; */
    padding: 1em 0;
    margin: 0 0.5em;
    text-align: left;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: 400;
    /* margin-bottom: 2em; */
    /* color: #FFF; */
    /* outline:1px solid red; */

}


.moviesGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0.5em;
    gap: 0.5em;
    /* margin: 0.5em; */
    /* outline:1px solid red; */

}


@media screen and (max-width:800px) {
    .moviesGrid{

        grid-template-columns: repeat(3, 1fr);
    
    }
}



@media screen and (max-width:600px) {
    .moviesGrid{

        grid-template-columns: repeat(2, 1fr);
    
    }
 }

 @media screen and (max-width:450px) {
    .moviesGrid{

        grid-template-columns: repeat(1, 1fr);
    
    }
 }