.movie{
	position: relative;
}

.image {
	width: 100%;
	/* outline:1px solid red; */
}

.title,
.info {
	text-align: left;
	font-size: 1.3rem;
	font-weight: 600;
    margin-left: 0.5em;
	/* outline:1px solid red; */
}

.info {
	display: flex;
	margin-bottom: 1em;
	font-size: 1.3rem;
	font-weight: 400;
    color: #aaa;
	align-items: center;
	/* outline:1px solid red; */
}


.star{
	margin: 0 5px;
}
