.searchForm{
    display:inline-flex;
}

.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 1em;
    border: 2px solid black;
    border-radius: 30px;
}


.searchIcon{
    font-size: 1.5rem;

}

.searchInput{
    border: none;
    outline: none;
    /* padding: 0 8em; */
    width: 70vw;
    font-size: 1.5rem;
    margin: 0 1em;
}

.submitButton{
    margin: 0 1em;
    padding: 1em;
    border-radius: 50%;
    font-size: 1.3rem;
}